.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px); /* Full viewport height minus navbar and footer */
    margin: 0 auto;
    background-color: #FAFAFA;
}

/* FORM CONTAINER STYLES */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #1A1A1A;
    border-radius: 10px;
    width: 300px;
    background-color: #F7F7F7;
}

/* Input fields (username and password) */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

/* Button for submitting the form */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #1A1A1A;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

/* Button hover effect */
button[type="submit"]:hover {
    background-color: #333333;
}

/* Link to sign up */
p a {
    color: #1A1A1A;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

p a:hover {
    text-decoration: underline;
}

/* Heading (Login title) */
h1 {
    text-align: center;
    color: #1A1A1A;
    margin-top: 20px;
    font-size: 40px;
}

/* Adjusting margins for the sign-up link */
p {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}