html, body {
    height: 100%; /* Assure que le document prend toute la hauteur */
    margin: 0;    /* Enlève les marges par défaut */

}

/* represents the body of the page - all the content */
.content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* take the entire page */
}

/* hidden button to log out*/
.hidden-button{
    background: none;  
    border: none;      
    color: inherit;    
    font: inherit;     
    cursor: pointer;   
    padding: 0;        
    margin: 0;         
    text-decoration: none;  

    color: #fff;
    text-decoration: none;
    margin-right: 30px;
    font-weight: bold;
    justify-content: center;
}

/* NAVBAR - RIGHT SECTION */

/* area of pp with the username */
.profile-info {
    display: flex;  
    align-items: center;  

}

.profile-image {
    width: 40px;  
    height: 40px; 
    border-radius: 50%;  
    margin-right: 10px;  
}
.username {
    font-weight: bold;  
    color: #fff;  
}

/* LIST OF EXERCISES */
.exercise-list {
    /* max-height: 400px; Hauteur maximale de la liste */
    overflow-y: auto; 

    margin: 2%; 
    padding: 10px; 
    background-color: #f9f9f9; 
    width:20%;
    border-radius: 5px;
    border:1px solid #ccc;

    max-height: 400px; 
    overflow-y: auto; 
}

.exercise-list ul {
    list-style-type: none; 
    padding: 0; 
}

.exercise-list li {
    padding: 8px; 
    border-bottom: 1px solid #ddd; 
}
.exercise-list li a {
    text-decoration: none; 
    color: #1A1A1A; 
}

.exercise-list li a:hover {
    /* color: #007BFF; */
    text-decoration: underline; 
}

/* EXERCISES DATA */

.main-content{
    display: flex;
    flex-direction: space-between;
    flex:1;
}

.exercise-panel{
    background-color: #f9f9f9; 
    border-radius: 5px;
    border:1px solid #ccc;
    padding : 10px;
    margin-left : 0%;
    margin : 2%;
    width: 100%;
    display: flex;           
    flex-direction: column;   
    justify-content: center;  
    min-height: 100%;         
}

.exercise-panel{
    align-items: center;      
    text-align: center; 
    justify-content: center;
}

.information-profile{
    align-items: center;
    text-align: center; 
}
.exercise-list:hover, .exercise-panel:hover{
    border:1px solid #1A1A1A;
}
/* TABLE */

/* Style of the table */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Style of table head */
table thead th {
    background-color: #333333;  
    color: white;
    padding: 10px;
    text-align: left;
    font-weight: normal;
    font-size: 16px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

/* to alternate color between two lines */
table tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}

/* style of cels inside the table */
table td {
    padding: 12px;
    text-align: left;
    font-size: 14px;
    color: #333;
    text-align: center; 
    vertical-align: middle; 
}

table {
    text-align: center; 
    vertical-align: middle; 
}

table tbody tr:hover {
    background-color: #e0e0e0;
}

table thead th:first-child {
    border-top-left-radius: 8px;
}

table thead th{
    text-align: center; 
    vertical-align: middle;    
}

table thead th:last-child {
    border-top-right-radius: 8px;
}

table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

/* link to see other performances */
.see-more {
    margin-top: 5%;
    text-decoration: none;
    color: #1E90FF; 
    font-weight: bold; 
    border-radius: 4px; 
    background-color: transparent; 
    transition: background-color 0.3s, color 0.3s; 
}

/* Style lors du survol */
.see-more:hover {
    color: #0056b3; 
}

.see-more-div{
    margin-top: 2%;
}