{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Metadata (page information) -->
    <!-- Keywords -> keywords, viewport -> optimize mobile layout -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Lucas SALI--ORLIANGE & Apollinaire TEXIER">
    <meta name="keywords" content="Django, HTML, JS, CSS, Python, PostgreSQL, 
    Fitness, Performance">

    <!-- Page Title -->
    <title>Mon profil</title>

    <!-- Links this page and its content to a CSS stylesheet -->
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">

    <!-- Links this page to an icon -->
    <link rel="icon" href="{% static 'images/logo_web.jpg' %}">
</head>

<body>
    <div class="content-wrapper">
        <!-- Navigation bar -->
        <nav class="navbar">
            <!-- Div containing links to other pages -->
            <a href="{% url 'user_profile' %}">Profil</a>
            <a href="{% url 'signup' %}">Exercice</a>

            <!-- To deconnect the user create a button to get the method POST-->
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="hidden-button" >Déconnexion</button>
            </form>

        <!-- area of the profil picture with the username -->
        <div class="profile-info">
            <img src="{% static 'images/logo_profile.png' %}" alt="Profil" class="profile-image">
            <span class="username">{{ user.username }}</span>
        </div>
        </nav>
        
        <!-- Main content of the page that contains a list of exercises linked to the users and data to the specific exercise selected -->
        <div class="main-content" >
            <!-- list of exercises -->
            <div class="exercise-list">
                <h2>Exercices:</h2>
                <ul>
                    {% for exercise in exercises %}
                        <li>
                            <a href="#" class="exercise-link" data-id="{{ exercise.id }}" data-name="{{ exercise.name }}">{{ exercise.name }}</a>
                        </li>
                    {% empty %}
                        <li>Aucun exercice trouvé.</li>
                    {% endfor %}
                </ul>

            </div>
            
            <div class="exercise-panel">
                <div class="information-profile">
                    Veuillez sélectionner un exercice afin de pouvoir consulter vos données.
                    <p>âge : {{user.userprofile.age}} ans</p>
                    <p>taille : {{user.userprofile.height|floatformat:0}} cm</p>
                    <p>poids : {{user.userprofile.weight|floatformat:0}} kg</p>
                    <p>IMC : {{user.userprofile.bmi|floatformat:0}}</p>
                </div>
                <!--  -->
                <script src="{% static 'js/exercise_performance.js' %}"></script>
            </div>
        </div>
        <!-- Contains the footer of the web page -->
        <footer>
            <div class="footer">
                <!-- University Gustave Eiffel Logo -->
                <img src="{%  static 'images/logo_univ.png' %}" class="logo" 
                    alt="University Gustave Eiffel Logo">

                <!-- Copyright -->
                <div class="copyright">
                    Copyright © 2024 / 2025
                </div>

                <!-- Credits -->
                <div class="credits">
                    Lucas SALI--ORLIANGE & Apollinaire TEXIER, encadrés par Morgan 
                    COURIVAUD
                </div>

                <!-- Unit -->
                <div class="unit">
                    DSIA-5102A: Full Stack Application Data
                </div>

                <!-- ESIEE Paris Logo -->
                <img src="{% static 'images/logo_esiee.png' %}" class="logo" 
                    alt="ESIEE Paris Logo">
            </div>
        </footer>
    </div>
</body>
</html>
